<body>
		<p>Reciba un cordial saludo de VACUNORTE.</p>
		<p>Adjunto comprobante electr&oacute;nico.</p>
		<p>Muchas Gracias.</p>
    <p><strong>Comprobantes Electr&oacute;nicos</strong></p>
    <p><strong>Contabilidad</strong></p>
    <img src="cid:cid_replace" style="width: 40%; height: 40%"/>
		<p><strong>Quito - Ecuador.</strong></p>
		<address>
			<p>Matriz: Calle Oe7"A" N31-28 y San Gabriel. Sector Hospital Metropolitano.</p>
			<p>Telf: 02 3214122. Cel: 096 904 7580. Email: <a href="mailto:vacunorte.uio@outlook.com">vacunorte.uio@outlook.com</a></p>
		</address>
		<p></p>
		<address>
			<p>Sucursal: Av. Pedro V. Maldonado S11-122 y Miguel Carri&oacute;n. Centro M&eacute;dico MediRecreo. Piso 5. Sector C.C. El Recreo.</p>
			<p>Telf: 02 3947000, ext: 570. Cel: 099 952 2217. Email: <a href="mailto:vacunorte.medirecreo@hotmail.com">vacunorte.medirecreo@hotmail.com</a></p>
		<address>
		<p><strong>Ibarra - Ecuador.</strong></p>
		<address>
			Grijalva 5-48 y Sucre. Sector Parque Pedro Moncayo.
			Telf: 06 2958542. Cel: 099 952 2217. Email: <a href="mailto:vacunorte3@hotmail.com">vacunorte3@hotmail.com</a>
		</address>
		<p><a href="https://www.vacunorte.com" target="_blank">www.vacunorte.com</a></p>
		<p><a href="http://www.facebook.com/vacunas.vacunorte.ecuador" target="_blank">www.facebook.com/vacunas.vacunorte.ecuador</a></p>
</body>
